* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1d0134;
  color: #fff;
  line-height: 1.6;
}

header {
  width: 100vw;
  background-color: #2a075c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  height: 8vh;
  padding: 2vh 7vw;
}
.nav-left img {
  width: 145px;
}
.nav-left img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nr-a1 {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: clamp(0.75rem, 1vw, 1rem);
}
.nr-a1:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  color: #dedede;
}
.nr-a1 span {
  color: #ffdd00;
}
.nr-a1:hover span {
  transition: all 0.4s;
  color: #cfb300;
}
.nr-a2 {
  text-decoration: none;
  font-weight: 600;
  font-size: clamp(0.75rem, 1vw, 1rem);
  background-color: #ffdd00;
  color: #2a075c;
  border-radius: 12px;
  padding: 0.5vh 1vw;
}
.nr-a2:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  background-color: #cfb300;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8vh;
  padding: 2.5vh 10vw;
}

.hero-text {
  display: flex;
  flex-direction: column;
}
.hero-text h1 {
  font-size: clamp(16px, 2.3vw, 2.3vw);
  font-weight: 600;
  margin-block: 0 1vh;
  width: fit-content;
  word-break: unset;
  user-select: none;
}
.hero-text p {
  font-weight: 300;
  font-size: clamp(10px, 1.125vw, 1.125vw);
  margin-block: 0 3vh;
  user-select: none;
}
.hero-text a {
  width: fit-content;
  text-decoration: none;
  color: #330654;
  font-size: clamp(14px, 1.875vw, 1.875vw);
  font-weight: 600;
  background-color: #fcd303;
  padding: 0.5vw 2vw;
  border-radius: 12px;
}
.hero-text a:hover {
  transition: all 0.4s;
  transform: scale(1.2);
  background-color: #cfb300;
}

.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  user-select: none;
}
.hero-image img {
  width: 100%;
  height: auto;
}
.hero-image h2 {
  font-size: clamp(10px, 1.5vw, 1.5vw);
  text-align: center;
}

/* CONTENT */
.content {
  display: flex;
  justify-content: space-between;
  background-color: #2b0244;
  user-select: none;
  padding: 5vh 0 0 7vw;
  overflow: hidden;
}
.ct-d1 {
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 0 0 5vh 0;
}
.ct-d2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5vh 1vw;
  border: 2px solid #fff;
  border-radius: 15px;
  width: 14vw;
  height: 100%;
  cursor: pointer;
}
.box:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
  background-color: #2b0244;
}
.box h2 {
  font-weight: 600;
  font-size: clamp(12px, 1.5vw, 1.5vw);
  margin-block: 0;
  color: #fc0394;
}
.box p {
  font-size: clamp(10px, 1.125vw, 1.125vw);
  margin-block: 1vh 0;
}

.box-mao {
  margin: 0 auto 5vh;
  text-align: left;
  max-width: 280px;
  width: 35%;
}
.box-mao h2 {
  font-size: clamp(12px, 1.5vw, 1.5vw);
  margin-bottom: 10px;
  color: #fcd303;
}
.box-mao p {
  font-size: clamp(10px, 1vw, 1vw);
}
.neurodiversity-img {
  display: flex;
}
.neurodiversity-img img {
  width: 20vw;
  height: auto;
  max-width: 388px;
}

/* CAROFSKY */
.carofsky {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  padding: 5vh 7vw;
  height: 100vh;
}

.carrossel-container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 15vw;
}
.carrossel {
  width: 100%;
  height: auto;
}
.carrossel img,
.carrossel video {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: none;
}
.carrossel img.active,
.carrossel video.active {
  display: block;
}
button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 13px 20px;
  cursor: pointer;
  z-index: 10;
  font-size: 1rem;
  border-radius: 5px;
  display: none;
}
.carrossel-container:hover :where(button.prev, button.next) {
  display: initial;
  transition: all 0.4s;
}
button.prev {
  left: 10px;
}
button.next {
  right: 10px;
}

.baixar {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.baixar h2 {
  font-size: 1.5vw;
  margin-block: 0;
}
.baixar a {
  width: fit-content;
  text-decoration: none;
  color: #330654;
  font-size: 1.25vw;
  font-weight: 600;
  background-color: #fcd303;
  padding: 1vh 2.5vh;
  border-radius: 12px;
}
.baixar a:hover {
  transition: all 0.4s;
  transform: scale(1.2);
  background-color: #cfb300;
}

.neurodiversity-img2 {
  width: 100%;
  height: auto;
  padding: 0 10vw;
  background-color: #f8c304;
  display: flex;
  justify-content: center;
}
:is(.neurodiversity-img2, .neurodiversity-img3) img {
  max-width: 100vw;
}

/* FAQ */
.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 20vw;
  height: 50vh;
}
.faq-item {
  margin-bottom: 20px;
}
.faq h2 {
  font-size: 1.75vw;
  margin-bottom: 20px;
  text-align: center;
  margin-block: 0 4vh;
  font-weight: 600;
}
.faq-item h3 {
  font-size: 1.25vw;
  margin-block: 0;
  font-weight: 300;
}

.faq-item p {
  font-size: 1vw;
  font-weight: 300;
}

.dropdown-btn {
  background-color: #330654;
  color: white;
  border: none;
  padding: 1.5vh 1vw;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-container {
  display: none;
  margin-left: 1vw;
}

.neurodiversity-img3 {
  width: 100%;
  height: auto;
  padding: 0 10vw;
  display: flex;
  justify-content: center;
}

/* FOOTER */
footer {
  background-color: #2a075c;
  width: 100%;
  margin-top: 10vh;
  padding: 3vh 7vw;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.parceria {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}
.parceria h3 {
  font-size: 1.625vw;
  color: #fc0394;
  font-weight: 600;
}

.parceria p {
  font-size: 1vw;
}
.membro img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 2vh auto;
}

#mf {
  font-weight: 600;
}
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 25vw;
  margin-bottom: -2vh;
}
.social-links > div {
  display: flex;
  gap: 15px;
}
.social-links img {
  width: 35px;
  height: 35px;
}
.social-links img:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}
.social-links :where(a, p) {
  text-decoration: none;
  font-size: 1vw;
  color: #f8c304;
}
.social-links a:hover {
  transition: all 0.4s;
  color: #cfb300;
}

.startup {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startup h3 {
  font-size: 1.625vw;
  color: #fc0394;
  font-weight: 600;
  margin-block: 0 1.5vh;
}

.startup p {
  text-align: justify;
  font-size: 1vw;
  font-weight: 200;
}

@media screen and (max-width: 1024px) {
  .nav-left img {
    width: 100px;
  }
  .hero-text {
    max-width: 31vw;
  }
  .hero-text p {
    margin-block: 0 2vh;
  }
  .content {
    flex-direction: column;
    align-items: center;
    padding: 3vh 0 0 0;
    gap: 2vh;
  }
  .ct-d1 {
    padding: 0;
  }
  .ct-d2 {
    justify-content: center;
    gap: 2vw;
  }
  .box {
    width: 20vw;
  }
  .box:hover {
    transform: scale(1);
  }
  .box-mao {
    margin: 0;
  }
  :is(.neurodiversity-img2, .neurodiversity-img3) img {
    width: 100%;
  }
  .neurodiversity-img3 {
    padding: 0 30vw;
  }
  .carofsky {
    height: 50vh;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
  }
  .hero-text {
    max-width: 55vw;
    align-items: center;
  }
  .hero-text h1 {
    text-align: center;
  }
  .hero-text p {
    text-align: center;
    margin-block: 0 1vh;
  }
  .content {
    padding: 2vh 0;
  }
  .ct-d1 {
    gap: 3vw;
  }
  .box {
    width: 28vw;
  }
  .box-mao :where(h2, p) {
    text-align: center;
  }
  .neurodiversity-img {
    display: none;
  }
}
