* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #290842;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    background-color: #2a075c;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

.nav-right .funciona-highlight {
    color: #ffdd00;
}
.jogos-button {
    background-color: #fc0394;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enter-button {
    background-color: #ffdd00;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enter-button:hover {
    background-color: #e6c700;
}

.container {
    display: flex;
    margin-top: 100px;

}
.sidebar {
    width: 250px;
    padding: 20px;
    flex-shrink: 0;
    margin-left: 25px;
}
.sidebar h3 {
    color: #fcd303;
    margin-bottom: 10px;
}
.sidebar p {
    margin-top: 10px;
    margin-bottom: 10px;

}

.dropdown-btn {
    background-color: #1d0134;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;

}
.dropdown-btn:hover {
    background-color: #421073;
}
.dropdown-container {
    display: none;
    padding-left: 10px;
}
.dropdown-container a {
    padding: 10px 0;
    display: block;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #ff309d;
}
.dropdown-container a:hover {
    background-color: #421073;
}

.performance-section {
    padding: 40px;
    display: flex;             
    justify-content: center;   
    align-items: center;        
    flex-grow: 1;         
}

.user-info {
    display: flex;
    justify-content: center;   
    align-items: center;        
    gap: 20px;                   
    margin-bottom: 40px;
}

.user-info label {
    font-weight: bold;
    color: #ffdd00;
    margin-bottom: 5px;        
}

.user-info input {
    background-color: #1d0134;
    border: 1px solid #421073;
    color: white;
    padding: 10px;
    width: 300px;                
    border-radius: 5px;          
    padding-right: 20px;
  }

.tit {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 25px;
    color: #ff309d;
}

.performance-chart {
    display: flex;
    justify-content: space-around;
}


.charts {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    margin-bottom: 25px;
    color: #ffdd00;
    margin-left: 50px;
}

footer {
.container {
    display: flex;
    margin-top: 100px;
}
.sidebar {
    width: 250px;
    padding: 20px;
    flex-shrink: 0;
    margin-left: 25px;
}
.sidebar h3 {
    color: #fcd303;
    margin-bottom: 10px;
}
.sidebar p {
    margin-top: 10px;
    margin-bottom: 10px;

}

.dropdown-btn {
    background-color: #1d0134;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;

}
.dropdown-btn:hover {
    background-color: #421073;
}
.dropdown-container {
    display: none;
    padding-left: 10px;
}
.dropdown-container a {
    padding: 10px 0;
    display: block;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #ff309d;
}
.dropdown-container a:hover {
    background-color: #421073;
}

    background-color: #2a075c;
    width: 100%;
    padding: 20px 0 100;
    text-align: center;
    position: relative;
    margin-top: auto;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-links img {
    width: 35px;
    height: 35px;
    margin: 10px 10px;
}

.footer-text {
    color: #ffdd00;
    margin: 5px 0;
}

footer p {
    color: #ffdd00;
    margin: 5px 0;
}

@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    .nav-right {
        margin-top: 10px;
        flex-direction: column;
    }

    .nav-right a {
        margin: 5px 0;
    }

    .content {
        flex-direction: column;
        padding: 20px;
        margin-top: 80px;
    }

    .login-container {
        width: 90%;
        padding: 2rem 2rem;
    }

    .image-container {
        width: 90%;
        height: auto;
    }
    .image-container img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }

    .nav-right {
        flex-direction: column;
    }

    .login-container {
        width: 100%;
        padding: 1.5rem;
    }

    .image-container {
        width: 100%;
        height: auto;
    }
}
