body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #290842;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #2a075c;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    align-items: center;
    margin-right: 20px;
    margin-left: 50px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

.nav-right .funciona-highlight {
    color: #ffdd00;
}

.enter-button {
    background-color: #ffdd00;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enter-button:hover {
    background-color: #e6c700;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px; 
    margin-bottom: 100px; 
    max-width: 1200px;
    margin: 0;
    margin-top: 10%;
}

.login-container {
    background-color: #3f006a;
    padding: 5rem 7rem;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.inst{
    margin-right: 107px;
    font-size: 30px;
    margin-bottom: 25px;
    color: #ff309d;
}

.cria {
    margin-right: 140px;
    font-size: 30px;
    margin-bottom: 25px;
    color: #ff309d;
}

.login-container h3 {
    margin-right: 100px;
}

.assinatura {
    margin-right: 293px;
    display: block; 
}




#form-cad label[for="nomer"] {
    margin-right: 328px;
    color: white;
    font-weight: bold;

}

#form-cad label[for="datar"],
[for="date"],
 [for="tel"] {
    margin-left: -43px;
    margin-right: 130px;
    color: white;
    font-weight: bold;

}



#form-cad label[for="rg"],
[for="gen"] {
    margin-left: 18px;
    margin-right: 197px;
    color: white;
    font-weight: bold;

}

#form-cad label[for="email"] {
    margin-right: 438px;
    color: white;
    font-weight: bold;

}

#form-cad label[for="senhar"],
[for="senhar2"] {
    margin-left: 43px;
    margin-right: 151px;
    color: white;
    font-weight: bold;

}

#form-cad label[for="nomea"],
[for="dataa"],
[for="date2"]{
    margin-left: 58px;
    margin-right: 139px;
    color: white;
    font-weight: bold;

}



/*
input[type="email"],
input[type="password"],
input[type="date"],
input[type="telefone"],
input[type="rg"],
input[type="genero"],
input[type="nome"], 
input[type="data"],
select[name="genero"] {
    width: 200px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
} */


input[type="nome"] {
    color: gray;
    width: 442px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #694F83
}

input[type="rg"] {
    color: gray;
    width:200px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #694F83
}

select[name="genero"] {
    color: gray;
    width: 240px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #694F83
}


input[type="email"] {
    color: gray;
    width: 442px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #694F83
}

input[type="password"]{
    color: gray;
    width: 200px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #694F83
}


input[type="date"],
input[type="data"]{
    color: gray;
    width: 200px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #694F83
}

input[type="telefone"]
{
    color: gray;
    width: 200px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #694F83
}



input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 55px;

}

input[type="nome2"] {
    color: gray;
    width: 200px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #694F83
}


input[type="date2"],
input[type="data2"]{
    color: gray;
    width: 200px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #694F83
}


.login-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15px;
}

.login-options a {
    color: #ffdd00;
    text-decoration: none;
}

.butt {
    background-color: #ffdd00;
    color: black;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 480px;
}

.butt:hover {
    background-color: #e6c700;
}

.butt2 {
    background-color: #ffdd00;
    color: black;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 480px;
}
.butt2:hover {
    background-color: rgba(219, 219, 219, 0.952);
}

.social-login {
    margin-top: 20px;
}

.social-login button {
    background-color: #fff;
    color: #3f006a;
}

.add-child {
    background-color: #ff309d;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    margin-right: 335px;
}


.nb {
    margin-left: -428px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}



.db {
    margin-left: -565px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}


.kid input{
    width: calc( 100% - 10px);
    border: none;
    border-radius: 5px;
    background-color: #694F83
}


/*
.kid input {
    width: calc(100% - 20px);
    padding: 10px; 
    margin-bottom: 10px; 
    border: none; 
    border-radius: 5px;
    background-color: #694F83; 
    color: gray; 
} */


#butto{
        background-color: #ffdd00;
        color: black;
        padding: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 150px;
        margin-right: 335px;
    }
    
    .butto:hover {
        background-color: #e6c700;
    }




footer {
    background-color: #2a075c;
    width: 100%;
    padding: 20px 0 100;
    text-align: center;
    position: relative;
    bottom: 0;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-links img {
    width: 35px;
    height: 35px;
    margin: 10px 10px;
}

.footer-text {
    color: #ffdd00;
    margin: 5px 0;
}

footer p {
    color: #ffdd00;
    margin: 5px 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px;
    }

    .nav-right {
        margin-top: 10px;
        flex-direction: column;
    }

    .nav-right a {
        margin: 5px 0;
    }

    .content {
        flex-direction: column;
        padding: 20px;
        margin-top: 80px;
    }

    .login-container {
        width: 90%;
        padding: 2rem 2rem;
    }


    footer {
        padding: 10px 0 20px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px;
    }

    .nav-right {
        flex-direction: column;
    }

    .login-container {
        width: 100%;
        padding: 1.5rem;
    }

}
