/* Reseta algumas configurações padrão */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #290842;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100vw;
    background-color: #2a075c;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.nav-left {
    display: flex;
    align-items: center;
}
 
.logo {
    align-items: center;
}
 
.nav-right {
    display: flex;
    align-items: center;
}
 
.nav-right a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}
 
.nav-right .funciona-highlight {
    color: #ffdd00;
}
 
.enter-button {
    background-color: #ffdd00;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
.enter-button:hover {
    background-color: #e6c700;
}
 

header h1 {
    color: white;
}

/* Geral - Centraliza o conteúdo dentro da página */
.geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

/* Container do conteúdo */
.container {
    background-color: #fff;
    padding: 2rem 4rem;
    border-radius: 10px;
    text-align: justify;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
.container h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #290842;
}

.container h5 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.container h4, .container h2 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
    color: #000;
}

/* Parágrafos */
.container p {
    font-size: 18px;
    text-align: justify;
    color: #000;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.container h4 {
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #2a075c;
    width: 100%;
    padding: 20px 0 100;
    text-align: center;
    position: relative;
    margin-top: auto;
}
 
.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
 
.social-links img {
    width: 35px;
    height: 35px;
    margin: 10px 10px;
}
 
.footer-text {
    color: #ffdd00;
    margin: 5px 0;
}
 
footer p {
    color: #ffdd00;
    margin: 5px 0;
}

/* Responsividade - Adaptação para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 1rem 2rem;
        width: 90%;
    }

    .container h1 {
        font-size: 28px;
    }

    .container h5 {
        font-size: 18px;
    }

    .container h2 {
        font-size: 18px;
    }

    .container p {
        font-size: 16px;
    }
}
